<div class="container-fluid modal-container">
    <div class="row">
        <div class="col-8">
            <br>
            <!-- Modal content -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Add epic</a></li>
                <li class="breadcrumb-item" aria-current="page">Project Name</li>
            </ol>
            <h4 class="custom-modal-title">{{ task.title }}</h4>
            <div class="button-group">
                <button class="btn btn-secondary btn-sm btn-borderless"><i class="fa fa-paperclip"
                        aria-hidden="true">Attach</i></button>
                <button class="btn btn-secondary btn-sm btn-borderless"><i class="fa fa-sitemap" aria-hidden="true">Add
                        a child issue</i></button>
                <button class="btn btn-secondary btn-sm btn-borderless"><i class="fa fa-link" aria-hidden="true">Link
                        issue</i></button>
            </div>
            <br>
            <h6>Description</h6>
            <textarea class="form-control" placeholder="Add description" (click)="onTextareaClick()"
                (focusout)="onTextareaFocusOut()" [(ngModel)]="task.description"></textarea>
            <div class="d-flex" *ngIf="showButtons">
                <button class="btn btn-primary btn-sm btn-borderless" (click)="onSaveClick()"
                    style="margin: 10px 10px 0 0">Save</button>
                <button class="btn btn-secondary btn-sm btn-borderless" (click)="onCancelClick()"
                    style="margin: 10px 10px 0 0">Cancel</button>
            </div>
            <br>
            <br>
            <h6>Activity</h6>
            <div class="d-flex">
                <p style="margin-right: 10px;">Show: </p>
                <div class="comment-group">
                    <button class="btn btn-secondary btn-sm btn-borderless" [class.active]="selectedButton === 'all'"
                        (click)="selectButton('all')">All</button>
                    <button class="btn btn-secondary btn-sm btn-borderless"
                        [class.active]="selectedButton === 'comments'"
                        (click)="selectButton('comments')">Comments</button>
                    <button class="btn btn-secondary btn-sm btn-borderless"
                        [class.active]="selectedButton === 'history'" (click)="selectButton('history')">History</button>
                </div>
            </div>
            <textarea class="form-control" placeholder="Add a comment" (focus)="onTextareaFocusComment()"
                (blur)="onTextareaBlurComment()"></textarea>
            <div class="d-flex" *ngIf="commentTextareaFocused">
                <button class="btn btn-primary btn-sm btn-borderless" style="margin: 10px 10px 0 0">Save</button>
                <button class="btn btn-secondary btn-sm btn-borderless" style="margin: 10px 10px 0 0">Cancel</button>
            </div>
            <br><br>
        </div>
        <div class="col-4">
            <br>
            <div class="d-flex justify-content-end">
                <button class="btn btn-close" (click)="onCloseClick()"></button>
            </div>
            <br><br>
            <div class="d-flex">
                <div class="form-group me-2">
                    <select class="form-control" id="statusDropdown" [(ngModel)]="selectedStatus" >
                        <option value="To Do">To Do</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
                  
                <button class="btn btn-secondary btn-sm" (click)="toggleDropdown()">
                    Delete
                </button>
                  
                  
            </div>
            
            <!-- Other content -->

            <div class="card bg-gray card-background">
                <div class="card-body">
                    <p class="modal-header">Details</p>
                    <p>Assignee: {{task.assignee}}</p>
                    <p>Label:</p>
                    <p>Sprint: {{task.sprint}}</p>
                    <p>Story Point: {{task.points}}</p>
                    <p>Reporter: {{task.reporter}}</p>
                </div>
            </div>

            <div class="time d-flex">
                <p style="margin-right: 10px;">Created at {{ getRelativeTime(task.created_at) }}</p>
                <p>Updated at {{ getRelativeTime(task.updated_at)}}</p>
            </div>
        </div>
    </div>
</div>