<nav class="navbar navbar-expand-lg bg-body-tertiary"
    style="background-color: var(--ds-surface, #fff); height: 60px;  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
    <div class="container-fluid" style="background-color: var(--ds-surface, #fff);">
        <a class="navbar-brand" href="#">TaskNinja</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/tasks']">Your Work</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Projects
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
                        <li><a class="dropdown-item" href="#">View All Projects</a></li>
                        <li><a class="dropdown-item" href="#">Create Project</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">People</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Filters
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
                        <li><a class="dropdown-item" href="#">View all filters</a></li>
                        <li><a class="dropdown-item" href="#">Advanced issue search</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dashboards
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/dashboard']">View all dashboards</a></li>
                        <li><a class="dropdown-item" href="#">Create Project</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary">Create</button>
                </li>
            </ul>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <i class="fa fa-cog fa-lg icon" aria-hidden="true"></i>
        <i class="fa fa-bell fa-lg icon" aria-hidden="true"></i>
        <i class="fa fa-user fa-lg icon" aria-hidden="true"></i>
    </div>
</nav>