<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #4d004d; height: 60px;">
    <div class="container-fluid navbar-text">
        <a class="navbar-brand">Task Ninja</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" style="background-color: white;" type="submit">Search</button>
        </form>
        <span class="navbar-text">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Settings
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </span>
    </div>
</nav>