<!-- login.component.html -->

<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <div class="card mt-5 text-center">
        <div class="card-body outer-body">
          <img src="../../assets/logo.jpg" class="mb-4">
          <h6 class="mb-4">Log in to continue</h6>
          <form (ngSubmit)="login(form1Example13.value, form1Example23.value)" #loginForm="ngForm">
            <div class="form-group">
              <!-- <label for="form1Example13">Email</label> -->
              <input type="text" id="form1Example13" #form1Example13 class="form-control mx-auto"
                placeholder="Enter your email" required style="width: 300px;">
            </div>
            <br>
            <div class="form-group">
              <!-- <label for="form1Example23">Password</label> -->
              <input type="password" id="form1Example23" #form1Example23 class="form-control mx-auto"
                placeholder="Enter your password" required style="width: 300px;">
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
           
            <div class="text-center mt-3">
              <a class="register">Can't Login? </a>
              <span class="bullet">&bull;
              </span>
              <a class="register" [routerLink]="['/signup']">Create an account</a>
            </div>
          </form>
        </div>
      </div>
      <!-- Left Image -->
      <img src="../../assets/left-login.png" class="img-fluid position-absolute bottom-0 start-0" alt="Image 1">

      <!-- Right Image -->
      <img src="../../assets/right-login.png" class="img-fluid position-absolute bottom-0 end-0" alt="Image 2">

    </div>
  </div>
</div>