<app-navbar></app-navbar>
<br>
<div class="container">
    <p style="font-size: larger;font-weight: 500;">Default Dashboard</p>
    <div class="row mb-4">
        <div class="col">
            <div class="card card-head">
                <div class="row no-gutters">
                    <p class="card-title mt-2" style="margin-left: 20px; font-size: 15px; font-weight: 500;">
                        Introduction</p>
                    <div class="col-md-4">
                        <img class="card-img" src="../../assets/welcome-jira.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p style="font-size: larger;font-weight: 500;">Welcome to Task Ninja.</p>
                            <p class="card-text" style="font-size: medium;font-weight: 300;"> Not sure where to start?
                                Checkout the Task Ninja 101 guide and Atlassian training course. <br><br> You can
                                customize this text in the Administration section.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-head">
                <p class="card-title mt-2" style="margin-left: 20px; font-size: 15px; font-weight: 500;">Assigned to Me
                </p>
                <br>
                <div class="container"style="max-height: 200px; overflow-y: auto;">
                    <table class="table table-sm">
                        <thead style="position: sticky;top:0;background-color: white;">
                            <tr class="table-header">
                                <th scope="col">T</th>
                                <th scope="col">Key</th>
                                <th scope="col" style="width:150px">Summary</th>
                                <th scope="col">P</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks ">
                                <td>{{task.issue_type}}</td>
                                <td>{{task.id}}</td>
                                <td>{{task.description}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-head">
                <p class="card-title mt-2" style="margin-left: 20px; font-size: 15px; font-weight: 500;">Projects
                </p>
                <div class="container">
                    <div *ngFor="let item of filteredProjects | paginate : pagingConfig; let i = index"
                        style="background-color: var(--ds-background-neutral, #f5f5f5);">
                        <div class="d-flex p-2">
                            <img height="30px" width="30px" [src]="item.project_avatar ? item.project_avatar : 'https://i.postimg.cc/tRVRnW40/people-2.png'" alt="">
                            <p class="proj-text" style="font-size: 15px;font-weight: 500;color:#3b73af"> {{item.name}} <span
                                    style="color:black;font-weight: 400">( {{item.project_key}} )</span></p>
                        </div>
                        <p class="lead-text" style="font-size: 13px; font-weight: bold; margin-right: 5px;">Lead: <span
                                class="p-4" style="font-weight: 400;color: #3b73af;">{{item.leader}}</span></p>
                    </div>
                </div>
                <pagination-controls  previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
        <div class="col">
            <div class="card card-head">
                <p class="card-title mt-2" style="margin-left: 20px; font-size: 15px; font-weight: 500;">Activity
                    Streams
                </p>
            </div>
        </div>
    </div>
</div>