<app-navbar></app-navbar>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="task-status-complete">
                <h4>Completed Task</h4>
                <br>
                <h6>{{completeCount}}</h6>
                <p>Total Count</p>
            </div>
        </div>
        <div class="col">
            <div class="task-status-pending">
                <h4>Pending Task</h4>
                <br>
                <h6>{{pendingCount}}</h6>
                <p>Total Count</p>
            </div>
        </div>
        <div class="col">
            <div class="task-status-total">
                <h4>Total Task</h4>
                <br>
                <h6>{{totalCount}}</h6>
                <p>Total Count</p>
            </div>
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col">
            <canvas id="donutChart" ></canvas>
        </div>
        <div class="col bar">
            <div class="chart-container">
                <canvas id="barChart"></canvas>
                <div class="dropdown-overlay">
                  <select class="dropdown" [(ngModel)]="selectedYear" (ngModelChange)="selectYear($event)">
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                  </select>
                </div>
              </div>
        </div>
        <div class="col bar">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>

