
<div class="container ">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-6">
        <div class="card mt-5 text-center">
          <div class="card-body outer-body">
            <img src="../../assets/logo.jpg" class="mb-4">
            <h6 class="mb-4">Sign up to continue</h6>
            <form (ngSubmit)="signup(email.value,fname.value,lname.value, password.value, cpassword.value)" #loginForm="ngForm">
              <div class="form-group">
                <!-- <label for="form1Example13">Email</label> -->
                <input type="text" id="email" #email class="form-control"
                  placeholder="Enter your email address" required>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" id="fname" #fname class="form-control mx-auto"
                    placeholder="Enter your first name" required >
                </div>
                <div class="col-md-6">
                  <input type="text" id="lname" #lname class="form-control mx-auto"
                    placeholder="Enter your last name" required >
                </div>
              </div>              
              <br>
              <div class="form-group">
                <!-- <label for="form1Example23">Password</label> -->
                <input type="password" id="password" #password class="form-control "
                  placeholder="Enter your password" required autocomplete="new-password" >
              </div>
              <br>
              <div class="form-group">
                <!-- <label for="form1Example23">Password</label> -->
                <input type="password" id="cpassword" #cpassword class="form-control "
                  placeholder="Confirm password" required >
              </div>
              <br>
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
             
              <div class="text-center mt-3">
                <a class="register" [routerLink]="['/login']">Already have an account? Login </a>
              </div>
            </form>
          </div>
        </div>
        <!-- Left Image -->
        <img src="../../assets/left-login.png" class="img-fluid position-absolute bottom-0 start-0" alt="Image 1">
  
        <!-- Right Image -->
        <img src="../../assets/right-login.png" class="img-fluid position-absolute bottom-0 end-0" alt="Image 2">
  
      </div>
    </div>
  </div>