<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add project details</h2>
            <p>Explore what's possible when you collaborate with your team. Edit project details anytime in project
                settings.</p>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="sprint">
            </div>
            <div class="form-group">
                <label for="key">Key</label>
                <input type="text" class="form-control" id="sprint">
            </div>
            <div class="info">
                
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>