.modal-body {
    margin-bottom: 12px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .assignee-search-box,
  .reporter-search-box {
    position: relative;
  }
  
  .assignee-search-box input,
  .reporter-search-box input {
    margin-bottom: 10px;
  }
  
 
  .search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li {
    cursor: pointer;
  }
  
 