<div class="modal-header">
  <h5 class="modal-title">Create Issue</h5>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="projectDropdown" style="font-size: 13px;color: gray;">Project</label>
    <select style="width: 350px;background-color: rgb(242, 242, 244);" [(ngModel)]="selectedProject"
      class="form-control" (change)="onProjectSelection()">
      <option *ngFor="let project of projects" [value]="project.name">
        {{ project.name }}
      </option>
    </select>
  </div>
  <br>
  <div class="form-group">
    <label for="issueTypeDropdown" style="font-size: 13px;color: gray;">Issue Type</label>
    <select style="width: 350px; background-color: rgb(242, 242, 244);" class="form-control" id="issueTypeDropdown"
      [(ngModel)]="selectedIssueType">
      <option value="task">Task</option>
      <option value="bug">Bug</option>
      <option value="epic">Epic</option>
      <option value="story">Story</option>
      <!-- Add more issue type options here -->
    </select>
  </div>
  <br>
  <!-- Add the grayish line here -->
  <hr class="grayish-line">
  <br>
  <div class="form-group">
    <label for="statusDropdown" style="font-size: 13px;color: gray;">Status</label>
    <select style="width: 200px;background-color: rgb(242, 242, 244);" class="form-control" id="statusDropdown"
      [(ngModel)]="selectedStatus">
      <option value="To Do">To Do</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
      <!-- Add more status options here -->
    </select>
    <p class="mt-2" style="font-size: 10px;color: gray;">This is the issue's initial status upon creation</p>
  </div>
  <br>
  <div class="form-group">
    <label for="summary" style="font-size: 13px;color: gray;">Summary</label>
    <input style="width: 550px;" type="text" class="form-control" id="summary" [(ngModel)]="summary">
  </div>
  <br>
  <div class="form-group">
    <label for="description" style="font-size: 13px;color: gray;">Description</label>
    <textarea style="width: 550px;" class="form-control" id="description" [(ngModel)]="description"></textarea>
  </div>
  <br>
  <div class="form-group">
    <label style="font-size: 13px;color: gray;">Assignee</label>
    <div class="assignee-search-box">
      <input style="width: 350px;" type="text" class="form-control" [(ngModel)]="assigneeSearchTerm"
        placeholder="Search Assignee" (input)="searchAssignee()">
      <!-- Implement search functionality for assignee -->
      <div class="search-results-assignee">
        <ul>
          <li *ngFor="let result of assigneeResults" (click)="selectAssignee(result)">{{ result }}</li>
        </ul>
      </div>
    </div>
    <div class="selected-assignee">{{ selectedAssignee }}</div>
  </div>
  <br>
  <div class="form-group">
    <label for="sprint" style="font-size: 13px;color: gray;">Sprint</label>
    <!-- <input style="width: 350px;background-color: rgb(242, 242, 244);" type="number" class="form-control" id="sprint" [(ngModel)]="sprint"> -->

    <!-- <label for="projectDropdown" style="font-size: 13px;color: gray;">Project</label> -->
    <select style="width: 350px;background-color: rgb(242, 242, 244);" [(ngModel)]="selectedSprint" class="form-control"
      (change)="onSprintSelection()">
      <option *ngFor="let sprint of sprints" [value]="sprint.name">
        {{ sprint.name }}
      </option>
    </select>

  </div>
  <br>
  <div class="form-group">
    <label for="storyPoints" style="font-size: 13px;color: gray;">Story Points Estimate</label>
    <input style="width: 350px;background-color: rgb(242, 242, 244);" type="number" class="form-control"
      id="storyPoints" [(ngModel)]="storyPoints">
  </div>
  <br>
  <div class="form-group">
    <label style="font-size: 13px;color: gray;">Reporter</label>
    <div class="reporter-search-box">
      <input style="width: 350px;" type="text" class="form-control" [(ngModel)]="reporterSearchTerm"
        placeholder="Search Reporter" (input)="searchReporter()">
      <div class="search-results" *ngIf="searchresults">
        <ul>
          <li *ngFor="let result of reporterResults" (click)="selectReporter(result)">{{ result }}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <div *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <button *ngIf="!loading" type="button" class="btn btn-primary"
    (click)="TaskCreate(selectedIssueType,selectedStatus,summary,description,assigneeSearchTerm,storyPoints,reporterSearchTerm)">Create</button>
</div>