.modal-body {
    margin-bottom: 12px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .assignee-search-box,
  .reporter-search-box {
    position: relative;
  }
  
  .assignee-search-box input,
  .reporter-search-box input {
    margin-bottom: 10px;
  }
  
 
  .search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .search-results li:hover{
    background-color: aliceblue;
  }
  
  .search-results li {
    cursor: pointer;
    padding: 10px;
    overflow: auto;
  }
  
 .search-results{
  width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  overflow: auto;
 }