<app-navbar></app-navbar>
<br>
<div class="head">
    <div class="d-flex" style="justify-content:space-between">
        <h6>Recent Projects</h6>
        <a [routerLink]="['/view-all-project']">View all projects</a>
    </div>

</div>

<div class=" card-container">
    <div class="card projcard" *ngFor="let item of project " [style.borderLeftColor]="getRandomColor()">
        <div class="project-details">
            <img [src]="item.project_avatar ? item.project_avatar : 'https://i.postimg.cc/tRVRnW40/people-2.png'"
                height="30px" width="30px" style="margin-right: 5px;">
            <div>
                <p style="font-weight: 500;"><a style="cursor: pointer;"
                        (click)="navigateToTasks(item.id)">{{item.name}}</a></p>
                <p style="margin-top:-20px; font-size: 12px; font-weight: 500; color: gray;">
                    Team-managed software</p>
            </div>
        </div>
        <p style="font-size: 14px;font-weight: 500;color: gray;margin-left: 6px;">Quick links</p>
        <p style="margin-top:-10px;font-size: 13px;font-weight: 400;margin-left: 6px;">Open Issues <span
                style="margin-left: 4px;background-color: rgb(222, 221, 221);padding: 0px 5px 0px 5px;">1</span><br>
            Done Issues
        </p>

    </div>

</div>
<br>
<ul class="nav nav-tabs m-4">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Worked on</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link " href="#">Viewed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Assigned</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Starred</a>
    </li>
</ul>

<!-- <div class="container"> -->
    <div class="accordion tasks-accordion" *ngFor="let group of tasksByCreateDate">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + group.createDate">
                    {{ group.createDate }}
                </button>
            </h2>
            <div [attr.id]="'collapse' + group.createDate" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div *ngFor="let task of group.tasks">
                        <div class="d-flex">
                            <img *ngIf="task.issue_type === 'Defect'|| task.issue_type === 'defect' || task.issue_type === 'Bug'|| task.issue_type === 'bug'"
                                src="https://i.postimg.cc/ppCynbfY/defect.jpg" height="15" width="15" alt="Defect Image"
                                style="margin-top: 4px;">
                            <img *ngIf="task.issue_type === 'Story'|| task.issue_type === 'story'"
                                src="https://i.postimg.cc/hQr4xTdP/story.jpg" height="15" width="15" alt="Defect Image"
                                style="margin-top: 4px;">
                            <img *ngIf="task.issue_type === 'Epic'|| task.issue_type === 'epic'"
                                src="https://i.postimg.cc/tnyCY27M/epic.jpg" height="15" width="15" alt="Defect Image"
                                style="margin-top: 4px;">
                            <img *ngIf="task.issue_type === 'Task'|| task.issue_type === 'task'"
                                src="https://i.postimg.cc/yxt0Rwf6/task.jpg" height="15" width="15" alt="Defect Image"
                                style="margin-top: 4px;">
                            <p>{{ task.title }}</p>
                        </div>
                        <p style="margin-top: -10px; margin-bottom: 20px; font-size: 12px; font-weight: 500; color: gray;">
                            {{ key }} <span>{{ projname }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->