<app-navbar></app-navbar>
<br>
<div class="container" >
  <div class="row">
    <div class="col col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col col-8">
      <div class="row">
        <div class="col col-4">
          <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Project</a></li>
            <li class="breadcrumb-item active" aria-current="page">Project Name</li>
          </ol> -->
          <h5>{{projectName}}</h5>
          <form class="d-flex my-2 my-lg-0">
            <input class="form-control mr-sm-2 me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary me-2" type="submit">
              <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-outline-primary me-2" type="submit" style="border-radius: 50%;">
              <i class="fa fa-user"></i>
            </button>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col task-column">
          <!-- <div class="task-column"> -->
          <p>To Do</p>
          <div class="container-fluid" style="max-height: 90%; overflow-y: scroll;">
            <div class="row rows" *ngFor="let item of todo" >
              <div class="card bg-gray card-background" (click)="openModal(item)">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">{{ item.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="col">
          <div class="task-column">
            <p>In Progress</p>
            <div class="container-fluid" style="max-height: 90%; overflow-y: scroll;">
              <div class="row rows" *ngFor="let item of inProgress">
                <div class="card bg-gray card-background " (click)="openModal(item)">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add your content for the "In Progress" column here -->
          </div>
        </div>
        <div class="col">
          <div class="task-column">
            <p>Done</p>
            <div class="container-fluid" style="max-height: 90%; overflow-y: scroll;">
              <div class="row rows" *ngFor="let item of done">
                <div class="card bg-gray card-background" (click)="openModal(item)">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add your content for the "Done" column here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>