<app-navbar></app-navbar>
<br><br>
<div class="container">
  <div class="row">
    <div class="col col-2">Sidebar</div>
    <div class="col col-8">
      <div class="row">
        <div class="col">
          <div class="task-column">
            <p>To Do</p>
            <!-- Add your content for the "To Do" column here -->
          </div>
        </div>
        <div class="col">
          <div class="task-column">
            <p>In Progress</p>
            <!-- Add your content for the "In Progress" column here -->
          </div>
        </div>
        <div class="col">
          <div class="task-column">
            <p>Done</p>
            <!-- Add your content for the "Done" column here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>