<button class="btn menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas">
    <i class="fa fa-bars fa-lg icon " aria-hidden="true"></i>
  </button>
  
  <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">Sidebar</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>Home Page</div>
      <div>About Us</div>
      <div>Services</div>
      <div>Prices</div>
      <div>Downloads</div>
      <div>Contact Us</div>
    </div>
  </div>
  