<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <div class="list-group-item border-0">
          <p class="mb-0 mt-4" style="font-size: 15px;"><img [src]="projUrl"
              height="30px" width="30px" style="margin-right: 8px;border-radius: 5px;"><strong>{{projectName}}</strong></p>
          <!-- <p style="font-size: 12px; color: rgb(145, 144, 144);font-weight: bold;">Software Project</p> -->
        </div>
        <hr>
        <div class="list-group-item border-0">
          <p class="mb-0" style="font-size: 12px;"><strong>PLANNING</strong></p>
        </div>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple border-0" aria-current="true">
          <i class="fa fa-tachometer fa-fw me-3"></i><span>Roadmap</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple active border-0">
          <i class="fa fa-map fa-fw me-3" aria-hidden="true"></i>
          <span>Board</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple border-0">
          <i class="fa fa-lock fa-fw me-3"></i><span>Backlog</span>
        </a>
        <!-- DEVELOPMENT -->
        <div class="list-group-item border-0">
          <p class="mb-0 " style="font-size: 12px;"><strong>DEVELOPMENT</strong></p>
        </div>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple border-0">
          <i class="fa fa-code fa-fw me-3"></i><span>Code</span>
        </a>
        <hr>
        <!-- PROJECT PAGES -->
        <a href="#" class="list-group-item list-group-item-action py-2 ripple border-0">
          <i class="fa fa-file fa-fw me-3"></i><span>Project Pages</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple border-0">
          <i class="fa fa-plus fa-fw me-3"></i><span>Add Shortcut</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple border-0">
          <i class="fa fa-cog fa-fw me-3"></i><span>Project Settings</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->